.search {
    width: 120px;
    border-color: rgb(0, 188, 188);
    border-radius: 10px;
    background-color: whitesmoke;
    color: rgb(0, 188, 188)
}

.plus {
    color: white;
    background-color: rgb(0, 188, 188);
    border-radius: 10px;
    border-color: rgb(0, 188, 188);
    height: 40;
    width: 40;
}

.create_account {
    width: 150px;
    height: 30px;
    border-color: black;
    background-color: dodgerblue;
    color: white;
    box-shadow: 3px 2px 2px black;


}